.head {
    background-image: url(../assets/test.svg);
    height: 35rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    

    img {
        width: 6rem;
    }

    h1 {
        display: flex;
        justify-content: center; /* Centers horizontally */
        margin-top: 9rem;
        color: white;
        font-size: 2.5rem;
    }
}

.stekjes {
    display: grid;
    gap: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1.3rem;
    
    grid-template-columns: 1fr; /* mobile */

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;

            img {
                width: 100%;
                border-radius: 1rem;
                display: block; /* spacing fix */
            }
        
            h3 {
                position: absolute;
                top: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                color: white;
            }
        }

        button {
            border: none;
            background: none;
            scale: 200%;
            cursor: pointer;
        }
    }

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* stekje detailpagina */
.head2 {
    background-image: url(../assets/test.svg);
    height: 10rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    

    img {
        width: 6rem;
    }
}

.stekje {
    /* width: 100%; */
    background-color: #4e7141;
    padding: 1.3rem;


    article {
        background-color: #f9e9c2;
        border-radius: 1rem;
        padding: 1.3rem;
        position: relative;

        img {
            scale: 95%;
            position: absolute;
            top: 1.8rem;
        }

        h2 {
            font-size: 2rem;
            font-weight: 900;
            color: #491B02;
            display: flex;
            justify-content: center;
        }

        p {
            margin-top: 1rem;
        }

        summary {
            list-style: none;
        }
    }
}